style.
  #userIdx {
    display: none;
  }
.container
  input.file(type='file' name='img' id="img" accept='image/*')
  .row.g-3.mt-3
    .form-check.form-check-inline
      input#inlineRadio1.form-check-input(type='radio' name='inlineRadioOptions' value=0)
      label.form-check-label(for='inlineRadio1') 디자인
    .form-check.form-check-inline
      input#inlineRadio2.form-check-input(type='radio' name='inlineRadioOptions' value=1)
      label.form-check-label(for='inlineRadio2') IT / 프로그래밍
    .form-check.form-check-inline
      input#inlineRadio3.form-check-input(type='radio' name='inlineRadioOptions' value=2)
      label.form-check-label(for='inlineRadio3') 사진 / 영상 / 음향

    .col-sm-6
      label.form-label(for='serviceName') 상품 및 서비스명
      input#serviceName.form-control(type='text' placeholder=''  required='' name="serviceName")
    .col-sm-6
      label.form-label(for='price') 가격
      input#price.form-control(type='text' placeholder=''  required='' name="price")
    .col-12
      label(for='serviceIntro')
        | 상품 소개 
      textarea#serviceIntro.form-control(type='text'  required='' name="serviceIntro" rows='5')
    input#userIdx(type='text' value=`${seller.sellerIdx}` name="userIdx")
  hr.my-4
  .row.g-3.mt-3
    .col-sm-6
      label.form-label(for='numOfSteps') 거래 진행 단계 수
      input#numOfSteps.form-control(type='number' placeholder=''  required='' name="numOfSteps" value=3)
  .row.g-3.mt-3 &nbsp환불 설정(%)
  #each_step.row.g-3.mt-3
    .col
      input.form-control(type='text' placeholder='90'  required='' disabled)
    .col
      input.form-control(type='text' placeholder='예:50'  required='' )
    .col
      input.form-control(type='text' placeholder='10'  required='' disabled)
  hr.my-4
  button.w-100.btn-outline-success.btn-lg#registerSendButton(type="button") 상품 등록 완료하기

script(src="/javascripts/registerServiceForm.js")

